header {
  display:flex;
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  justify-content: space-between;
  align-items: center;
}

nav {
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin-right: 15px;
    }
  }
}
